<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @product_cach.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product_cach.name %>
</p>

<p>
  <strong>Values:</strong>
  <%= @product_cach.values %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @product_cach.date_created %>
</p>

<%= link_to 'Edit', edit_product_cache_path(@product_cach) %> |
<%= link_to 'Back', product_caches_path %>
